{% extends 'conbarra.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('./build/components/base_index.css') }}">

        {% block morestyle%}
        {% endblock %}        
{% endblock %}

{% block body %}
    <div class='jumbotron'>
        <div class='row'>
            <div class="col-sm-3">
                    {#{{ dump(categorias) }}#}
                <ul>
                {% for cat in category_repo.findAll() %}
                        <li>{{ cat.nombre }}</li>
                        <ul>
                            {% set lista_productos = products_repo.getByCategory(cat) %}
                            {# {{ dump(products_repo.getByCategory(cat)) }} #}
                            {% for producto in  lista_productos%}
                                <li><a href='{{ path('productoview', {productoid: producto.id }) }}'>{{producto.nombre}}</a></li>
                            {% endfor %}
                        </ul>
                {% endfor %}
                </ul>
            </div> 
            {% block body2 %}{% endblock %}
        </div>
    </div> 
{% endblock %}