{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{parent()}}
        {{encore_entry_link_tags('baseIndex')}}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('baseIndex') }}
{% endblock %}

{% block body %}

<div class='container-fluid'>
    <div class='row row-no-gutters'>
        <ul class='listaDeElementos col-md-2 border' style="padding: 0;">
            {% include 'index/carritoSection.html.twig' %}
        <li class='h4 font-weight-light listaDeElementos bg-dark' style="text-align: center; padding: 5px; color: white;">
            Categorías
        </li>
        {% for cat in category_repo.getRaices() %}
            {{ render(controller('App\\Controller\\IndexController::createPanelResponse', {'categoria': cat})) }}          
        {% endfor %}
        </ul>
        {% block body2 %}{% endblock %}
    </div>
</div> 
{% endblock %}