{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/easyCarousel.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/easyCarousel.js')}}" defer></script>
{% endblock %}


<div class="container-fluid my-4">
  <div class='other-box' style="border: 1px solid rgb( 224, 224, 224 ); background-color: {{fotos[0]}};"></div>
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    {% set toShow = 3 %}
    {% set div = fotos|length is divisible by(toShow) ? 0 : 1 %}
    {% set slidersCount = ((fotos|length // toShow) + div) %}

    {% if slidersCount > 1 %}
    <!--Controls-->
    <div class="carousel-controls">
      <a class="carousel-control carousel-control-prev" href="#multi-item-example" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="carousel-control carousel-control-next" href="#multi-item-example" data-slide="next">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
    <!--/.Controls-->
    {% endif %}

    <!--Indicators-->
    <ol class="carousel-indicators">
      {% for i in 0..(slidersCount - 1) %}
        <li data-target="#multi-item-example" data-slide-to="{{i}}"></li>
      {% endfor %}
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      {% for i in 0..(slidersCount - 1) %}
      <div class="carousel-item">
          <ul>
            {% for j in 0..(toShow - 1) %}
              {% set index = (i*toShow) + j %}
              {% if index < fotos|length %}
              <li>
                <div class="box" style="background-color: {{fotos[index]}};"></div>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

  </div>
</div>