{% extends 'index/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body2 %}

{% set conjuntos = {
        'Novedades': novedades, 
        'Más populares': populares,
        'Más valorados': valorados}%}

<ul class='listaDeElementos'>
{% for key,array in conjuntos%}
        <li class='listaDeElementos'>
        <div>
                <h4 class="h3 mb-3 font-weight-normal">{{key}}</h4>
                <ul class='listaDeElementos'>
                        {% for index, x in array %}
                                <li class='listaDeElementos'>
                                        <a href='{{ path('productoview', {productoid: x.id }) }}'>
                                                <p>{{ x.nombre }}</p>
                                        </a>
                                        <span class="badge badge-danger">{{ x.categoria.nombre }}</span>
                                        <span>Precio: <strong>{{ x.preciounidad }}</strong>$</span>
                                        Creado: <strong>{{ x.FechaCreacion|format_datetime('medium', 'short', '', 'UTC') }}</strong>
                                        {% if key == 'Más populares'%}
                                        Ventas: <strong>{{ventas[index]}}</strong>
                                        {% endif %}
                                </li>
                        {% else %}
                                No tenemos {{key|lower}} para ti, al menos hoy.
                        {% endfor %}
                </ul>
        </div>
        </li>
{% endfor %}
</ul>
{% endblock %}