{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{asset('assets/styles/index.css')}}">
{% endblock %}

{% block javascripts %}
        {{parent()}}
        <script src="{{asset('assets/js/index.js')}}" defer></script>
{% endblock %}

{% macro tabla_bootstrap(collection, cols = 6) %}
        {% set break = false %}
        {% for i in 0..collection|length %}
                {% if not break %}
                <div class='row py-3'>
                        {% for j in  0..cols-1 %}
                                {% if not break %}
                                        {% set  index = cols*i + j %}
                                        {% if index == collection|length - 1 %}
                                                {% set break = true %}
                                        {% endif %}
                                        {% set thisProduct = collection[index] %}
                                        <div class='col-sm-12 col-md-2 col-lg-2'>
                                                <div class='index-box p-5' data-color='{{thisProduct.fotos[0]}}'></div>
                                                <p><a class='pname' href='productoView/{{thisProduct.id}}'>{{thisProduct.nombre}}</a></p>
                                                <span class='precio'>{{thisProduct.precioUnidad}}.00 $</span>
                                        </div>
                                {% endif %}
                        {% endfor %}
                </div>
                {% endif %}
        {% endfor %}
{% endmacro %}

{% block body %}

<ul id="todosLosProductos" style="list-style-type: none; padding-left: 10px;">
        {% if novedades %}
        <li>
                <div class="row my-2 mx-1" style="border: 1px solid rgb( 224, 224, 224 );">
                        <div class="col-0 texto-vertical">
                                <span class="h5 font-weight-normal categoriaCarteles" id="novedades_section">
                                        
                                </span>
                                <a class="h6 font-weight-light ver-mas">
                                        ver
                                        <br>
                                        <i class="fas fa-plus"></i>
                                </a>
                        </div>
                        <div class="col-11">
                                {{_self.tabla_bootstrap(novedades)}}
                        </div>
                </div>
        </li>
        {% endif %}
        {% if populares %}
        <li>
                <div class="row my-2 mx-1" style="border: 1px solid rgb( 224, 224, 224 );">
                        <div class="col-0  texto-vertical">
                                <span class="h5 font-weight-normal categoriaCarteles" id="populares_section">
                                        
                                </span>
                                <a class="h6 font-weight-light ver-mas">
                                        ver
                                        <br>
                                        <i class="fas fa-plus"></i>
                                </a>
                        </div>
                        <div class="col-11">
                                {{_self.tabla_bootstrap(populares)}}
                        </div>
                </div>
        </li>
        {% endif %}
        {% if valorados %}
        <li>
                <div class="row my-2 mx-1" style="border: 1px solid rgb( 224, 224, 224 );">
                        <div class="col-0  texto-vertical">
                                <span class="h5 font-weight-normal categoriaCarteles" id="valorados_section">
                                        
                                </span>
                                <a class="h6 font-weight-light ver-mas">
                                        ver
                                        <br>
                                        <i class="fas fa-plus"></i>
                                </a>
                        </div>
                        <div class="col-11">
                                {{_self.tabla_bootstrap(valorados)}}
                        </div>
                </div>
        </li>
        {% endif %}
</ul>
{% endblock %}