{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{asset('assets/styles/index.css')}}">
{% endblock %}

{% block javascripts %}
        {{parent()}}
        <script src="{{asset('assets/js/index.js')}}" defer></script>
{% endblock %}

{% block body %}

{% set conjuntos = [novedades, populares, valorados] %}

<div>
        <div id="visualizacion_listado" style="padding-top: 25px; padding-right: 10px;">
                <ul style="list-style: none;">
                        <li>
                                <img src="{{ asset('exact_images/Icono_Lista.png') }}">
                                <img src="{{ asset('exact_images/Icono_Rejilla.png') }}">
                        </li>
                        <li style="border-right: 2px solid #b6b1b1; padding-right: 15px; margin-right: 15px;">
                                <select>
                                        <option>Baratos arriba</option>
                                        <option>Caros arriba</option>
                                </select>
                        </li>
                        <li style="border-right: 2px solid #b6b1b1; padding-right: 15px; margin-right: 15px;">
                                Mostrar: <input style="display: inline;" type="number" min="1" class="form-control"></li>
                </ul>
        </div>
</div>

<ul class='listaDeElementos' style="padding-left: 10px;">
{% for key,array in conjuntos%}
        <li class='listaDeElementos container-fluid'>
        <div class="row border" style="margin-bottom: 20px;">
                <div class="col-md-0 texto-vertical">
                        <span class="h5 font-weight-normal categoriaCarteles">
                        {#<span class="novedades_texto categoriaCarteles"></span>#}
                                {{key}}
                        </span>
                        <a class="h6 font-weight-light ver-mas">
                                ver
                                <br>
                                <i class="fas fa-plus"></i>
                        </a>
                </div>
                <div class="col-md-10">
                        <table class="table">
                                <tbody>
                                        {{ render(controller('App\\Controller\\IndexController::tabla', {'collection': array})) }}
                                </tbody>
                        </table>  
                </div>
        </div>
        </li>
{% endfor %}
</ul>
{% endblock %}