{% extends 'index/base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}
        {{parent()}}
        {{encore_entry_link_tags('index')}}
{% endblock %}

{% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block body2 %}

{% set conjuntos = [novedades, populares, valorados] %}

<div class="col-md-10">
<ul class='listaDeElementos' style="padding-left: 10px;">
{% for key,array in conjuntos%}
        <li class='listaDeElementos container-fluid'>
        <div class="row border" style="margin-bottom: 20px;">
                <div class="col-md-0 texto-vertical">
                        <span class="h5 font-weight-normal categoriaCarteles">
                                {{key}}
                        </span>
                        <a class="h6 font-weight-light ver-mas">
                                ver
                                <br>
                                <i class="fas fa-plus"></i>
                        </a>
                </div>
                <div class="col-md-10">
                        <table class="table">
                                <tbody>
                                        {{ render(controller('App\\Controller\\IndexController::tabla', {'collection': array})) }}
                                </tbody>
                        </table>  
                </div>
        </div>
        </li>
{% endfor %}
</ul>
</div>
{% endblock %}