{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{asset('assets/styles/productoView.css')}}">
{% endblock %}

{% block javascripts %}
        {{parent()}}
        <script src="{{asset('assets/js/productoView.js')}}" defer></script>
{% endblock %}

{% block body %}
{% if producto %}

<div class="col-md-10">
        <div class="path">
                <span style="color: white;">Estás en: </span>
                <span>Inicio</span>
                <i class="fa fa-caret-right"></i>
                {% for x in products_repo.getPath(producto.id) %}
                        <span>{{x}}</span>
                        <i class="fa fa-caret-right"></i>
                {% endfor %}
        </div>

        <div class="border-bottom" style="padding-bottom: 10px; margin-bottom: 15px;">
                <span class="h1" style="margin-bottom: 30px;">{{ producto.nombre }}</span>
                <span style="margin: 100px;">(Referencia: {{producto.id}})</span>
        </div>

        <div class="row">
                <div class="col-md-3">
                        {% include 'index/easyCarousel.html.twig' with {'fotos': producto.fotos} %} 
                </div>
                <div class="col-md-8">
                        <ul class="list-group">
                                <li class="list-group-item">
                                        <div style="float: left;">
                                                <p class="font-weight-light h6">Precio:</p>
                                                <p class='precio h5 font-weight-bolder' style="text-decoration: line-through; color: grey;">{{ producto.preciounidad + 20 }}.00 $</p>
                                                <p class='precio h2 font-weight-bolder'>{{ producto.preciounidad }}.00 $</p>
                                        </div> 
                                        <div style="float: right;">Redes sociales</div>
                                </li>
                                <li class="list-group-item">
                                        <div style="float: left;">
                                        <span class="h6 font-weight-normal">Elige tu inicial</span>
                                        <i class="fa fa-info-circle" style="color: orangered;"></i>
                                        <select>
                                                {% for x in 'A'..'Z' %}
                                                <option>{{x}}</option>
                                                {% endfor %}
                                        </select>
                                        </div>
                                        <div class="calificacion" style="float: right;">
                                                <p class="h6 font-weight-normal">Calificación:</p>
                                                {% for i in 1..5 %}
                                                        <i data-index="{{i}}" class="fa fa-star"></i>
                                                {% endfor %}
                                        </div>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}                
                                <li class="list-group-item" id="formulario">
                                        {{ form_start(form, {'method': 'post'}) }}
                                        <span>Cantidad:</span>  
                                        {{ form_widget(form.cantidad, {
                                                'attr': 
                                                {
                                                        'min': 1,
                                                        'name': form.cantidad.vars.name,
                                                        'id': form.cantidad.vars.id,
                                                        'class': 'form_control',
                                                        'style': "
                                                        margin: 10px;
                                                        width: 60px;
                                                        display: inline;"
                                                },
                                                'type': 'number'
                                        })}}
                                        <button type="submit" id="form_agregar" name="form[agregar]" 
                                        class="btn btn-lg btn-warning btn" 
                                        style="margin: 10px; width: 50%; display: inline;">
                                        Agregar al carrito <i class="fa fa-directions"></i> <i class="fa fa-shopping-cart"></i></button>
                                        {{ form_widget(form.agregar, {
                                                'attr': 
                                                        {
                                                                'class': 'btn btn-lg btn-warning',
                                                                'style': "margin: 10px; width: 50%; display: none;"
                                                        },
                                                'label': 'Agregar al carrito <i class="fa fa-shopping-cart"></i>'
                                        }) }}
                                        {{ form_widget(form.calificacion, {
                                                'attr': {'style': 'display: none;'}, 
                                                'type': 'number'}) }}
                                {{ form_end(form) }}
                                </li>
                                <li class="list-group-item">
                                <div class="container border">
                                        <p class="h6 font-weight-light">
                                                Descuentos para compras de más de una unidad</p>
                                        <table class="table table-condensed" id="descuentos">
                                                
                                                <thead>
                                                        <tr>
                                                                <th style="color: orangered;">Cantidad</th>
                                                                <th style="color: orangered;">Precio</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                        <tr><td>2</td><td>12.8 $</td></tr>
                                                </tbody>
                                                </table>
                                </div>
                                
                                </li>
                                <li class="list-group-item">
                                        <p class="descripcion">{{ producto.descripcion }}</p>
                                </li>
                                {% endif %}
                        </ul>
                </div>
        </div>

        <div id="commet-footer" style="float: left;">
                <span><span style="color: orangered;">0</span> Comentarios</span>
                <span style="border-right: 2px solid black; width: 1px; margin-left: 10px; margin-right: 10px;"></span>
                <span><i style="color: orangered;" class="fa fa-pencil"></i> Comentar</span>
                <span style="border-right: 2px solid black; width: 1px; margin-left: 10px; margin-right: 10px;"></span>
                <span><i style="color: orangered;" class="fa fa-comment"></i> Recomendar</span>
        </div>
</div>

{% else %}
        <h2>Ese producto no existe.</h2>
{% endif %}
{% endblock %}