{% extends 'index/base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block stylesheets %}
        {{parent()}}
        {{encore_entry_link_tags('productoView')}}
{% endblock %}

{% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('productoView') }}
{% endblock %}

{% block body2 %}
{% if producto %}

<div class="col-md-3" style="margin-top:20px;">
        <div class='other-box border' style="padding: 10px; margin:10px;"></div>

        {% include 'index/easyCarousel.html.twig' with {'fotos': producto.fotos} %}      
</div>
<div class="col-md-5" style="padding-top: 20px;">
        <span class="h1" style="margin-bottom: 30px;">{{ producto.nombre }}</span>
        <span data-color='{{producto.fotos[0]}}' class="h5 badge badge-pill">
                {{ producto.categoria.nombre }}
        </span>
        <p class="descripcion">{{ producto.descripcion }}</p>
</div>
<div class="col-md-2" style="padding-top: 20px;">
        <div class="jumbotron-fluid" style="margin-bottom: 100px;">
                <span>
                        <p class="font-weight-light h4">Precio:</p>
                        <span class='precio h3 font-weight-bolder'>{{ producto.preciounidad }}.00 $</span>
                </span> 
        </div>

        <div class="jumbotron-fluid" style="margin-bottom: 100px;">
                <span>
                        <p class="font-weight-light h6">Disponible desde:</p>
                        <span>
                                <i class="fa fa-clock-o"></i>
                        </span>
                        <span class='precio h5 font-weight-normal' style="width: 20%;">
                                {{ producto.Created|format_datetime('medium', 'short', '', 'UTC') }}
                        </span>
                </span>
        </div> 

        <div class="jumbotron-fluid">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ form_start(form, {'method': 'post'}) }}

                {{ form_widget(form.cantidad, {
                        'attr': 
                        {
                                'min': 1,
                                'name': form.cantidad.vars.name,
                                'id': form.cantidad.vars.id,
                                'class': 'form_control',
                                'style': "margin: 10px;"
                        },
                        'type': 'number'
                })}}

                {#
                        <input style="width: 30%; margin: 10px;" type="number" min="1" step="1" value="1" name="cantidad" id="cantidad" class="form-control">
                        <a class="btn btn-lg btn-warning" type="submit" role="button" href="{{url('productoView', {'productoid': producto.id })}}">
                                Agregar al carrito
                        </a>
                #}
                {{ form_widget(form.agregar, {
                        'attr': 
                                {
                                        'class': 'btn btn-lg btn-warning',
                                        'style': "margin: 10px; width: 100%;"
                                },
                        'label': 'Agregar al carrito'
        }) }}
                {{ form_end(form) }}
                {% else %}
                        Debes iniciar sesión para realizar compras.
                {% endif %}
        </div>
</div>


{% else %}
        <h2>Ese producto no existe.</h2>
{% endif %}
{% endblock %}