{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{asset('assets/styles/productoView.css')}}">
{% endblock %}

{% block javascripts %}
        {{parent()}}
        <script src="{{asset('assets/js/productoView.js')}}" defer></script>
{% endblock %}

{% block body %}
{% if producto %}

<div id="product_details">
        <div class="row" style="border-bottom: 1px solid rgb( 224, 224, 224 ); padding-bottom: 10px; margin-bottom: 15px; margin-top: 30px;">
                <span class="col-md-8" id="titulo_producto">{{ producto.nombre }}</span>
                <div class="col-md-3">
                        <span id="ref_no" style="margin-left: 10px; position: absolute; right: 5px; bottom: 5px;">(Referencia: {{producto.id}})</span>
                </div>
        </div>

        <div class="row" style="border-bottom: 1px solid rgb( 224, 224, 224 ); padding-bottom: 15px;">
                <div style="text-align: center;" class="col-md-3">
                        {% include 'index/easyCarousel.html.twig' with {'fotos': producto.fotos} %} 
                </div>
                <div class="col-md-8 ">
                        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
                                <div class="col-sm-8 col-md-4 col-lg-4 my-3 mx-3 px-0">
                                        <p class="carteles_producto_texto">Precio:</p>
                                        <p class='h4 _32_05_€'>{{ producto.preciounidad + 20 }}.00 $</p>
                                        <p class='precio' style="font-size: 200% !important;">{{ producto.preciounidad }}.00 $</p>
                                </div>
                                <div class="col my-3 mx-sm-3 mx-md-0 mx-lg-0">
                                        <img src="{{ asset('exact_images/redes_sociales.png') }}">
                                </div>
                                <div class="col my-3 mx-sm-3 mx-md-0 mx-lg-0">
                                        <span class="carteles_producto_texto">Elige tu inicial</span>
                                        <img style="vertical-align:auto;" src="{{ asset('exact_images/help.png') }}">
                                        
                                        <div class="dropdown midropdownSelect" style="display: inline-block; margin: 10px;">
                                                <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                                                        <span class='selectorValue'>A</span>       
                                                </a>
                                                <ul class="dropdown-menu">
                                                        {% for x in 'A'..'Z' %}
                                                        <li><a href="#">{{x}}</a></li>
                                                        {% endfor %}
                                                </ul>
                                        </div>

                                </div>
                                <div class="col my-3 mx-sm-3 mx-md-0 mx-lg-0">
                                        <div class="calificacion">
                                                <p class="carteles_producto_texto">Calificación:</p>
                                                {% for i in 1..5 %}
                                                        <figure>
                                                                <img class="gris_star" style="display: inline;" data-index="{{i}}" src="{{ asset('exact_images/estrella_gris.png') }}">
                                                                <img class="orange_star" style="display: none;" data-index="{{i}}" src="{{ asset('exact_images/estrella_naranja.png') }}">
                                                        </figure>
                                                {% endfor %}
                                        </div>
                                </div>
                        </div>
                        <ul class="list-group">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}                
                                <li class="list-group-item" id="formulario">
                                        {{ form_start(form, {'method': 'post'}) }}
                                        <span class="carteles_producto_texto">Cantidad:</span>  
                                        {{ form_widget(form.cantidad, {
                                                'attr': 
                                                {
                                                        'min': 1,
                                                        'name': form.cantidad.vars.name,
                                                        'id': form.cantidad.vars.id,
                                                        'class': 'form_control',
                                                        'style': "
                                                        margin: 10px;
                                                        width: 60px;
                                                        display: inline;"
                                                },
                                                'type': 'number'
                                        })}}
                                        <button type="submit" id="form_agregar" name="form[agregar]" 
                                        class="btn btn-lg btn agregar_al_carrito_boton" 
                                        style="margin: 10px; display: inline;">
                                        <span class="agregar_al_carrito_texto">Agregar al carrito <img src="{{ asset('exact_images/flecha_boton.png') }}"></span> <img src="{{ asset('exact_images/carrito.png') }}"></button>
                                        {{ form_widget(form.agregar, {
                                                'attr': 
                                                        {
                                                                'class': 'btn btn-lg btn-warning',
                                                                'style': "margin: 10px; width: 50%; display: none;"
                                                        },
                                                'label': 'Agregar al carrito <i class="fa fa-shopping-cart"></i>'
                                        }) }}
                                        {{ form_widget(form.calificacion, {
                                                'attr': {'style': 'display: none;'}, 
                                                'type': 'number'}) }}
                                {{ form_end(form) }}
                                </li>
                                {% endif %}
                                <li class="list-group-item">
                                        <div class="container" style="border-bottom: 1px solid rgb( 224, 224, 224 ); width: 63%;">
                                                <p id="encabezado_texto">
                                                        Descuentos para compras de más de 1 unidad</p>
                                                <table id="descuentos">
                                                        
                                                        <thead>
                                                                <tr>
                                                                        <th class="descuentos_header_texto">Cantidad</th>
                                                                        <th class="descuentos_header_texto">Precio</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                                <tr><td>2</td><td>12.8 $</td></tr>
                                                        </tbody>
                                                        </table>
                                        </div>
                                        
                                        </li>
                                        <li class="list-group-item">
                                                <p class="descripcion descripcion_texto">{{ producto.descripcion }}</p>
                                        </li>
                        </ul>
                </div>
                <div id="comentario_barra" style="float: left; padding-left: 10px; padding-right: 5px;">
                        <ul id="barra_inferior" style="list-style: none;">
                                <li><span><span style="font-weight:500; color: #ff8038;">0</span> Comentarios</span></li>
                                <li><span style="border-right: 2px solid black; width: 1px; margin-left: 10px; margin-right: 10px;"></span></li>
                                <li><span><img src="{{ asset('exact_images/lapiz.png') }}"> Comentar</span></li>
                                <li><span style="border-right: 2px solid black; width: 1px; margin-left: 10px; margin-right: 10px;"></span></li>
                                <li><span><img src="{{ asset('exact_images/comentario.png') }}"> Recomendar</span></li>
                </div>
        </div>

        <div class="container-fluid" style="padding-left: 0px !important; padding-bottom: 20px !important;">
                <p id="Productos_similares">Productos similares</p>
                

                <div class="row">
                        {% for i in 1..5 %}
                                <div class="col-sm-12 col-md-2 col-lg-2">
                                        <img src="{{ asset('exact_images/Layer_7.png') }}">
                                </div>
                        {% endfor %}
                </div>                
        </div>
</div>


{% else %}
        <h2>Ese producto no existe.</h2>
{% endif %}
{% endblock %}