{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/barra1.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/barra1.js')}}" defer></script>
{% endblock %}


<nav class="navbar navbar-expand-lg navbar-light bara1_fondo">
    {#
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto..." aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><img src="{{ asset('exact_images/buscador.png') }}"></button>
        </form>
    #}

    <input id="buscador_input" class="form-control mr-sm-2" type="search" placeholder="Buscar producto..." aria-label="Search">

    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="mispan">
        <i class="fa fa-user" style="color: white;"></i><a class="nav-link nueva_cuenta" href="{{url('sing_in')}}">Nueva cuenta</a>
        <span style="border-right: 2px solid black; width: 5px;"></span>
        <a class="nav-link nueva_cuenta" href="{{url('app_login')}}">Iniciar sesión</a>
    </div>
    {% else %}
        {% if app.user %}
        <div class="dropdown mispan">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown">
                {% if app.user.foto %}
                        <img src="{{ asset('uploads/' ~ app.user.foto) }}" 
                        style="margin: 5px; width: 40px; height: 40px; border-radius: 40px;">
                {% endif %}
                {{app.user.nombre}}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {#<li><a class="dropdown-item" href="">Editar perfil</a></li>#}
                <li><a class="dropdown-item" href="{{url('tus_compras')}}">Tus compras</a></li>
                <li><a class="dropdown-item" href="{{url('changeOrdenAmounts')}}">Ver carrito</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="dropdown-item" href="./admin">Administración</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{{url('app_logout')}}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
                </a></li>
          </ul>
        </div>
        {% endif %}
    {% endif %}
</nav>