<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url('index')}}">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown">
                {% if app.user.foto %}
                        <img src="{{ asset('uploads/' ~ app.user.foto) }}" 
                        style="margin: 5px; width: 40px; height: 40px; border-radius: 40px;">
                {% endif %}
                {{app.user.nombre}}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {#<li><a class="dropdown-item" href="">Editar perfil</a></li>#}
                <li><a class="dropdown-item" href="{{url('tus_compras')}}">Tus compras</a></li>
                <li><a class="dropdown-item" href="{{url('ver_carrito')}}">Ver carrito</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="dropdown-item" href="./admin">Administración</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{{url('app_logout')}}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
                </a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>