<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('vendor/@fortawesome/fontawesome-free/css/v4-shims.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/@fortawesome/fontawesome-free/css/all.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/dist/css/bootstrap-grid.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/dist/css/bootstrap-reboot.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/app.css')}}">
        {% endblock %}

        {% block javascripts %}
        <script src="{{asset('vendor/jquery/dist/jquery.min.js')}}" defer></script>
        <script src="{{asset('vendor/popper.js/dist/popper.min.js')}}" defer></script>
        <script src="{{asset('vendor/bootstrap/dist/js/bootstrap.bundle.min.js')}}" defer></script>
        <script src="{{asset('vendor/bootstrap/dist/js/bootstrap.min.js')}}" defer></script>
        <script src="{{asset('assets/app.js')}}" defer></script>
        {% endblock %}
    </head>
    {% include 'header.html.twig' %}
    <body>
        {% include 'barra1.html.twig' %}
        {% include 'barra2.html.twig' %}

        <div class='container-fluid'>
            <div class='row row-no-gutters'>
                <div class='col-md-2 border' style="padding: 0;">
                    <div id="MainMenu">
                        <div class="list-group panel">
                            <a href="#" class="list-group-item" data-parent="#MainMenu">
                                {% include 'carritoSection.html.twig' %}
                            </a>
                            <a href="#" class='h4 font-weight-light bg-dark list-group-item' data-parent="#MainMenu" style="text-align: center; padding: 5px; color: white;">
                                Categorías
                            </a>
                            {% for cat in category_repo.getRaices() %}      
                                {{ render(controller('App\\Controller\\IndexController::createPanelResponse', {'categoria': cat, 'parent': 'MainMenu'})) }}          
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% block body %}{% endblock %}
            </div>
        </div> 
    </body>
</html>