<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/dist/css/bootstrap-grid.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/dist/css/bootstrap-reboot.min.css')}}">
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/app.css')}}">
        {% endblock %}

        {% block javascripts %}
        <script src="{{asset('vendor/jquery/dist/jquery.min.js')}}" defer></script>
        <script src="{{asset('vendor/popper.js')}}" defer></script>
        <script src="{{asset('vendor/bootstrap/js/dist/alert.js')}}" defer></script>
        <script src="{{asset('vendor/bootstrap/js/dist/collapse.js')}}" defer></script>
        <script src="{{asset('vendor/bootstrap/js/dist/carousel.js')}}" defer></script>
        <script src="{{asset('vendor/bootstrap/js/dist/dropdown.js')}}" defer></script>
        <script src="{{asset('vendor/bootstrap/js/dist/modal.js')}}" defer></script>
        <script src="{{asset('assets/app.js')}}" defer></script>
        {% endblock %}
    </head>
    {% include 'header.html.twig' %}
    <body>
        {% include 'barra1.html.twig' %}
        {% include 'barra2.html.twig' %}

        <div class='container-fluid'>
            <div class='row row-no-gutters'>
                <ul class='listaDeElementos col-md-2 border miSideBar' style="padding: 0;">
                    {% include 'carritoSection.html.twig' %}
                <li class='h4 font-weight-light bg-dark' style="text-align: center; padding: 5px; color: white;">
                    Categorías
                </li>
                {% for cat in category_repo.getRaices() %}      
                    {{ render(controller('App\\Controller\\IndexController::createPanelResponse', {'categoria': cat})) }}          
                {% endfor %}
                </ul>
                {% block body %}{% endblock %}
            </div>
        </div> 
    </body>
</html>