{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/carritoSection.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/carritoSection.js')}}" defer></script>
{% endblock %}

<div style="padding: 5px;" class="border">
    <div class="other-box-index" style="width: 50px; height: 50px;
    margin-right: 20px; margin-bottom: 5px;
    color: {{ selected_product.fotos[0] }};"></div>
    <p id="cuadro_carrito_texto">{{ selected_product.nombre }}</p>
    <br>
    <div id="Rectangle_10">
        <span id="_1_x_0000_00_€"><span style="color: rgb( 237, 110, 38 ) !important;">1</span> x 0000.00 $</span>
        <img style="float: right; display: inline;" src="{{ asset('exact_images/Shape22.png') }}">
    </div>

    <div class="row" style="text-align: center; padding: 5px;">
        <div class="border" style="margin: 5px; display: inline; padding: 3px;">
            <p class="cantidad_texto">Cantidad</p>
            <p id="_1">1</p>
        </div>
        <div class="border" style="margin: 5px; display: inline; padding: 3px;">
            <p class="cantidad_texto">Subtotal</p>
            <p id="_0000_00_€">0000.00 $</p>
        </div>
    </div>
    
    <a class="btn btn-lg btn-primary Ver_carrito" id="ver_carrito_boton"
    style="width: 100%; margin-bottom: 7px; margin-top: 7px;" 
    href="{{url('changeOrdenAmounts')}}">
    Ver carrito
    </a>
</div>