{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/header.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/header.js')}}" defer></script>
{% endblock %}


<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="padding-left: 30px; padding-right: 10px;">
                <img style="width: 95%; height: 40%; margin-top: 25px; margin-bottom: 10px;" src="{{ asset('exact_images/xatem.png') }}">
                <p class="Todo_lo_que_buscas h5">Todo lo que buscas... y mucho más!</p>
                <p class="xatem_mail_hotmail_com">
                    {#<i class="fa fa-envelope"></i>#} 
                    <img src="{{ asset('exact_images/envelope_header.png') }}">
                    xatem-mail@hotmail.com
                    <br>
                    <img src="{{ asset('exact_images/telefono_header.png') }}">
                    {#<i class="fa fa-phone"></i>#}
                    555 222 444 21
                </p>
            </div>
            <div class="col-md-3" style="padding: 0px; margin: 0px;">    
                <ul class="miul">
                    <li class="descuentos_texto">
                        <img src="{{ asset('exact_images/Etiqueta1.png') }}">
                        Descuentos por cantidades</li>
                    <li class="descuentos_texto">
                        <img src="{{ asset('exact_images/Etiqueta1.png') }}">
                        Venta al por mayor B2B</li>
                    <li class="descuentos_texto">
                        <img src="{{ asset('exact_images/Etiqueta1.png') }}">
                        Proveedor dropshipping</li>
                </ul>    
            </div>
            <div class="col-md-5 losPagos" style="margin-right: 0px;">
                <table class="table">
                    <tbody>
                            <tr>
                                <td>
                                    <img src="{{ asset('exact_images/check_128.png') }}">
                                    <p>Contra reembolso</p>
                                </td>
                                <td>
                                    <img src="{{ asset('exact_images/paypal_128.png') }}">
                                    <p>PyPal</p>
                                </td>
                                <td>
                                    <figure>
                                        <img style="position: absolute;" src="{{ asset('exact_images/mastercard_48.png') }}">
                                        <img style="position: relative; bottom: 8px;" src="{{ asset('exact_images/visa_48.png') }}">
                                    </figure>
                                    <p>Tarjeta de crédito</p>
                                </td>
                                <td>
                                    <img src="{{ asset('exact_images/wire_transfer_128.png') }}">
                                    <p>Transferencia bancaria</p>
                                </td>
                            </tr>
                    </tbody>
                </table> 
                <p class="¡Paga_como_quieras_" style="margin-bottom: 10px; text-align: center;">
                    ¡Paga como quieras!
                </p>
            </div>
        </div>
    </div>
</header>